
.body-text{
    color: rgb(102, 102, 102);
    font-family: Poppins;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.6em;
}
.main{
    margin-top: 10%
}

.geo-google{
    width: 900px; 
    height: 500px;

}

.cabecalho {
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: transparent;


}
.cabecalho-imagem {
    /* grid-column: 1 / span 2;
    grid-row: 3 / span 5;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d2/Flag_of_Mercosur_%28Portuguese%29.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    /* filter: blur(1px); */
    /* position: ; */
    /* z-index: -9999;, */

    width: 30vw;
    float: left;
    margin: 2em;
    padding-right: 4em;    
    shape-outside: circle();
}


.cabecalho-texto {
    grid-column: 1 / span 3;
    grid-row: 2 / span 3;    
}

.sub-titulo {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: transparent;
    z-index: -9998;
}

.subtitulo-texto {
    grid-column: 1 / span 3;
    grid-row: 2 / span 3;    
}
#navheader{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.navheader-color{
    background-color: rgba(0, 0, 0, .40);
}


/* .nav-color {
background-color: chartreuse;

} */
